<!DOCTYPE html>
<html>
<head>
    <title>go</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
    <script src="/javascripts/pageView.js"></script>
</head>
<body>
<header>
    <div class="top-bar">
        <div class="left">
            <img src="/images/balloon.jpg">
        </div>
        <div class="middle">
            <ul>
                <li>
                    <a class="nav-top" href="#aboutUs">
                        aboutUs
                    </a>
                </li>
                <li>
                    <a class="nav-top" href="#seasonIntro">
                        season
                    </a>
                </li>
                <li>
                    <a class="nav-top" href="#gogogo">
                        gogogo
                    </a>
                </li>
            </ul>

        </div>
        <div class="right">
            <ul class="nc-right-nav nc-logged-out">
                <li><a class="log-in" href="#0">Log In</a></li>
                <li><a class="log-out" href="#0">Log Out</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="main">

    <a class="anchor" name="seasonIntro"></a>
    <div class="seasons">
        <ul class="season seasons-slider">
            <li class="spring season-active-slide">
                <div class="season">
                    <img src="/images/spring.jpg">
                    <ul class="season-info">
                        <li>Spring</li>
                    </ul>
                </div>
                <p>
                    碧玉妆成一树高，
                    万条垂下绿丝绦。
                    不知细叶谁裁出，
                    二月春风似剪刀。
                </p>

            </li>
            <li class="summer">
                <div class="season">
                    <img src="/images/summer.jpg">
                    <ul class="season-info">
                        <li>Summer</li>
                    </ul>
                </div>
                <p>
                    毕竟西湖六月中，风光不与四时同。
                    接天莲叶无穷碧，映日荷花别样红。
                </p>
            </li>
            <li class="autumn">
                <div class="season">
                    <img src="/images/autumn.jpg">
                    <ul class="season-info">
                        <li>Autumn</li>
                    </ul>
                </div>
                <p>
                    银烛秋光冷画屏，轻罗小扇扑流萤。
                    天阶夜色凉如水，坐看牵牛织女星。
                </p>
            </li>
            <li class="winter">
                <div class="season">
                    <img src="/images/winter.jpg">
                    <ul class="season-info">
                        <li>Winter</li>
                    </ul>
                </div>
                <p>
                    千山鸟飞绝,
                    万径人踪灭。
                    孤舟蓑笠翁，
                    独钓寒江雪。
                </p>
            </li>
        </ul>
    </div>
    <ul class="gogogo">
        <a name="gogogo" class="anchor"></a>
    <li class="chap">
        <img class='dali' src="/images/char1.jpeg">
        <h1>There is such a lot of world to see!</h1>
        <ul>
            <li class="view image_stack">
                <img class="photo1 stackphotos" src="/images/p1.jpg">
                <img class="photo2 stackphotos show" src="/images/p2.jpg">
                <img class="photo3 stackphotos show" src="/images/p3.jpg">
            </li><li class="food image_stack">
                <img class="photo1 stackphotos show" src="/images/p4.jpg">
                <img class="photo2 stackphotos show" src="/images/p5.jpg">
                <img class="photo3 stackphotos show" src="/images/p6.jpg">
            </li>
        </ul>
    </li>
        <li class="chap">
            <img class='dali' src="/images/char2.jpeg">
            <h1>There is such a lot of world to see!</h1>
            <ul>
                <li class="view image_stack">
                    <img class="photo1 stackphotos" src="/images/p1.jpg">
                    <img class="photo2 stackphotos show" src="/images/p2.jpg">
                    <img class="photo3 stackphotos show" src="/images/p3.jpg">
                </li><li class="food image_stack">
                <img class="photo1 stackphotos show" src="/images/p4.jpg">
                <img class="photo2 stackphotos show" src="/images/p5.jpg">
                <img class="photo3 stackphotos show" src="/images/p6.jpg">
            </li>
            </ul>
        </li>
        <li class="chap">
            <img class='dali' src="/images/char3.jpeg">
            <h1>There is such a lot of world to see!</h1>
            <ul>
                <li class="view image_stack">
                    <img class="photo1 stackphotos" src="/images/p1.jpg">
                    <img class="photo2 stackphotos show" src="/images/p2.jpg">
                    <img class="photo3 stackphotos show" src="/images/p3.jpg">
                </li><li class="food image_stack">
                <img class="photo1 stackphotos show" src="/images/p4.jpg">
                <img class="photo2 stackphotos show" src="/images/p5.jpg">
                <img class="photo3 stackphotos show" src="/images/p6.jpg">
            </li>
            </ul>
        </li>
        <li class="chap">
            <img class='chap4' src="/images/char4.jpeg">
            <h1>There is such a lot of world to see!</h1>
            <ul>
                <li class="view image_stack">
                    <img class="photo1 stackphotos" src="/images/p1.jpg">
                    <img class="photo2 stackphotos show" src="/images/p2.jpg">
                    <img class="photo3 stackphotos show" src="/images/p3.jpg">
                </li><li class="food image_stack">
                <img class="photo1 stackphotos show" src="/images/p4.jpg">
                <img class="photo2 stackphotos show" src="/images/p5.jpg">
                <img class="photo3 stackphotos show" src="/images/p6.jpg">
            </li>
            </ul>
        </li>
    </ul>
    <a name="aboutUs" class="anchor"></a>
    <ul class="about-us">
        <li><img src="/images/p1.jpg"><span></span></li><li><img src="/images/me.jpg"><span>Wang Lina</span></li>
    </ul>
</div>

</body>
</html>

