/* line 5, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  background-color: HSL(36, 28%, 93%);
  padding-top: 80px;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/style.scss */
.main {
  z-index: 1;
  min-height: 1024px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-grvpaa");
  src: url("../fonts/icomoon.eot?#iefix-grvpaa") format("embedded-opentype"), url("../fonts/icomoon.woff?-grvpaa") format("woff"), url("../fonts/icomoon.ttf?-grvpaa") format("truetype"), url("../fonts/icomoon.svg?-grvpaa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* mixin part */
/* for draw circle */
/* square shape, with same height and width*/
/* global variable*/
/* line 73, ../sass/style.scss */
.top-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 80px;
  background-color: black;
  width: 100%;
}
/* line 80, ../sass/style.scss */
.top-bar .left {
  float: left;
}
/* line 83, ../sass/style.scss */
.top-bar .middle {
  margin-left: 80px;
  margin-right: 10%;
  margin-left: 120px;
  display: inline-block;
}
/* line 88, ../sass/style.scss */
.top-bar .middle a {
  font-size: 1.2rem;
  color: #F2EEE8;
  text-decoration: none;
}
/* line 93, ../sass/style.scss */
.top-bar .middle ul {
  display: inline-block;
}
/* line 95, ../sass/style.scss */
.top-bar .middle ul li {
  display: inline-block;
  line-height: 80px;
  margin-right: 40px;
}
/* line 104, ../sass/style.scss */
.top-bar .right {
  float: right;
  height: 80px;
}
/* line 105, ../sass/style.scss */
.top-bar .right a {
  font-size: 1rem;
  color: black;
}
/* line 111, ../sass/style.scss */
.top-bar .right ul {
  display: inline-block;
  margin-right: 20px;
}
/* line 114, ../sass/style.scss */
.top-bar .right ul li {
  display: inline-block;
  line-height: 80px;
  text-align: center;
}
/* line 118, ../sass/style.scss */
.top-bar .right ul li a {
  background-color: #F2EEE8;
  text-decoration: none;
  padding: 10px 30px;
  border: solid 1px;
  margin-right: 10px;
  border-radius: 10px;
}
/* line 126, ../sass/style.scss */
.top-bar .right ul li .log-out {
  background-color: #766DCC;
}
/* line 132, ../sass/style.scss */
.top-bar img {
  height: 80px;
  width: 80px;
}
/* line 136, ../sass/style.scss */
.top-bar span {
  line-height: 80px;
  color: whitesmoke;
  font-size: 2rem;
}

/* line 144, ../sass/style.scss */
.main .about-us img {
  height: 70px;
  width: 70px;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  margin-left: 46.7%;
  margin-top: 20px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s ease-in;
}
/* line 157, ../sass/style.scss */
.main .about-us img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 161, ../sass/style.scss */
.main .about-us {
  height: 300px;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1;
}
/* line 167, ../sass/style.scss */
.main .about-us li {
  display: inline-block;
}
/* line 170, ../sass/style.scss */
.main .about-us img {
  display: inline-block;
}
/* line 173, ../sass/style.scss */
.main .about-us li:nth-of-type(1) {
  background-color: #EDEDED;
  width: 50%;
  height: 100%;
}
/* line 178, ../sass/style.scss */
.main .about-us li:nth-of-type(2) {
  background-color: #EFD26C;
  width: 50%;
  height: 100%;
}
/* line 183, ../sass/style.scss */
.main .about-us span {
  font-size: 1rem;
  color: whitesmoke;
}
/* line 187, ../sass/style.scss */
.main .about-us .show:hover {
  z-index: 9;
}
/* line 239, ../sass/style.scss */
.main .gogogo li {
  height: 500px;
  background-color: #FFFFFF;
  position: relative;
}
/* line 244, ../sass/style.scss */
.main .gogogo li .dali {
  margin-left: 30%;
}
/* line 247, ../sass/style.scss */
.main .gogogo li h1 {
  text-align: right;
  font-size: 1.5rem;
  margin-right: 50px;
}
/* line 252, ../sass/style.scss */
.main .gogogo li li:nth-of-type(1) {
  height: 200px;
  position: absolute;
  right: 50%;
}
/* line 257, ../sass/style.scss */
.main .gogogo li li:nth-of-type(2) {
  height: 200px;
  position: absolute;
  left: 50%;
}
/* line 263, ../sass/style.scss */
.main .gogogo .chap {
  border-bottom: solid 1px lightgray;
}

/* line 269, ../sass/style.scss */
.hidden {
  visibility: hidden;
}

/* line 273, ../sass/style.scss */
.active {
  visibility: visible;
}

/* line 277, ../sass/style.scss */
.anchor {
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

/* line 284, ../sass/style.scss */
.season-slider-pagination {
  padding-top: 50px;
  padding-bottom: 1.2em;
  position: relative;
  z-index: 1;
}

/* line 291, ../sass/style.scss */
.season-slider-pagination li {
  display: inline-block;
  margin-right: .5em;
}

/* line 296, ../sass/style.scss */
.season-slider-pagination li:last-child {
  margin-right: 0;
}

/* line 300, ../sass/style.scss */
.season-slider-pagination a {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  height: 10px;
  width: 10px;
  border: 2px solid rgba(255, 255, 255, 0.42);
  border-radius: 50%;
  cursor: pointer;
}

/* line 313, ../sass/style.scss */
.season-slider-pagination li.season-active a {
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
}

/* line 319, ../sass/style.scss */
.season-control-nav a.nc-active {
  border-color: #766dcc;
  background-color: #766dcc;
}

/* golbal tag style */
@media screen and (min-width: 1300px) {
  /* line 327, ../sass/style.scss */
  .global-nav .container {
    text-align: center;
    margin: auto;
  }

  /* line 333, ../sass/style.scss */
  .content .profile-status, .content .stream-container {
    width: 700px;
    margin: 40px auto 0;
  }
}
/* line 340, ../sass/style.scss */
.image_stack img {
  border: none;
  text-decoration: none;
  margin-left: 0px;
  width: 158px;
  height: 158px;
}

/* line 348, ../sass/style.scss */
.image_stack {
  width: 400px;
  position: absolute;
  margin: 60px 10px 10px;
}

/* line 354, ../sass/style.scss */
.image_stack img {
  position: absolute;
  border: 4px solid #FFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 367, ../sass/style.scss */
.image_stack .photo1 {
  top: 8px;
  left: 108px;
}

/* line 372, ../sass/style.scss */
.image_stack .photo2 {
  top: 6px;
  left: 104px;
}

/* line 377, ../sass/style.scss */
.image_stack .photo3 {
  top: 4px;
  left: 100px;
  right: 100px;
}

/* line 383, ../sass/style.scss */
.image_stack .rotate1 {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

/* line 391, ../sass/style.scss */
.image_stack .rotate2 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

/* line 399, ../sass/style.scss */
.image_stack .rotate3 {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  cursor: pointer;
}

/* line 408, ../sass/style.scss */
ul#pics li {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 1px 1px #999999;
  display: inline-block;
  width: 153px;
  height: 157px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 421, ../sass/style.scss */
ul#pics li img {
  width: 150px;
  height: 150px;
  display: block;
}

/* line 427, ../sass/style.scss */
ul#pics li:hover {
  -moz-transform: scale(1.1) rotate(0deg);
  -webkit-transform: scale(1.1) rotate(0deg);
  -o-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
  transform: scale(1.1) rotate(0deg);
}

/* line 435, ../sass/style.scss */
.single_photo {
  margin-top: 80px;
  margin-left: 100px;
  margin-top: 65px;
}

/* line 441, ../sass/style.scss */
.seasons {
  background: #766ACF;
  text-align: center;
  position: relative;
  height: 500px;
}

/* line 448, ../sass/style.scss */
.seasons::before, .seasons::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 60px;
  left: 0;
  background-color: rgba(118, 109, 204, 0);
}

/* line 457, ../sass/style.scss */
.seasons::before {
  top: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(118, 109, 204, 0), rgba(118, 109, 204, 0.7));
  background-image: linear-gradient(to top, rgba(118, 109, 204, 0), rgba(118, 109, 204, 0.7));
}

/* line 463, ../sass/style.scss */
.seasons::after {
  bottom: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(118, 109, 204, 0.7), rgba(118, 109, 204, 0));
  background-image: linear-gradient(to top, rgba(118, 109, 204, 0.7), rgba(118, 109, 204, 0));
}

/* line 469, ../sass/style.scss */
.seasons .seasons-slider {
  overflow: hidden;
  position: relative;
  height: 400px;
}

/* line 475, ../sass/style.scss */
.seasons .seasons-slider::after {
  clear: both;
  content: "";
  display: table;
}

/* line 481, ../sass/style.scss */
.seasons .seasons-slider > li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1.4rem 0;
}

/* line 491, ../sass/style.scss */
.seasons .season li {
  line-height: 1.3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 497, ../sass/style.scss */
.seasons .season li:first-child {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.15em;
}

/* line 504, ../sass/style.scss */
.seasons .season li:last-child {
  font-size: 1.3rem;
  color: #312977;
}

/* line 509, ../sass/style.scss */
.seasons .season-info {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/* line 516, ../sass/style.scss */
.seasons .season-active-slide .season-info {
  opacity: 1;
}

/* line 520, ../sass/style.scss */
.seasons .move-left .season-info {
  opacity: 0;
}

/* line 524, ../sass/style.scss */
.seasons img {
  height: 70px;
  width: 70px;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(2000px) rotateY(-180deg);
  -moz-transform: perspective(2000px) rotateY(-180deg);
  -ms-transform: perspective(2000px) rotateY(-180deg);
  -o-transform: perspective(2000px) rotateY(-180deg);
  transform: perspective(2000px) rotateY(-180deg);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

/* line 544, ../sass/style.scss */
.seasons .season-active-slide img {
  -webkit-transform: perspective(2000px) rotateY(0);
  -moz-transform: perspective(2000px) rotateY(0);
  -ms-transform: perspective(2000px) rotateY(0);
  -o-transform: perspective(2000px) rotateY(0);
  transform: perspective(2000px) rotateY(0);
}

/* line 552, ../sass/style.scss */
.seasons .move-left img {
  -webkit-transform: perspective(2000px) rotateY(180deg);
  -moz-transform: perspective(2000px) rotateY(180deg);
  -ms-transform: perspective(2000px) rotateY(180deg);
  -o-transform: perspective(2000px) rotateY(180deg);
  transform: perspective(2000px) rotateY(180deg);
}

/* line 560, ../sass/style.scss */
.seasons .hide-avatar img {
  opacity: 0;
}

/* line 564, ../sass/style.scss */
.seasons p {
  font-size: 3rem;
  padding: 2em 3em 3.2em;
  line-height: 1.3;
  max-width: 1100px;
  margin: 0 auto;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

/* line 582, ../sass/style.scss */
.seasons .season-active-slide p {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s, opacity 0s;
  -moz-transition: -moz-transform 0.4s, opacity 0s;
  transition: transform 0.4s, opacity 0s;
}

/* line 594, ../sass/style.scss */
.seasons .move-left p {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 602, ../sass/style.scss */
.seasons p, .seasons .season li {
  text-shadow: 0 0px 2px rgba(118, 109, 204, 0.11);
}

@media screen and (max-width: 1299px) {
  /* line 608, ../sass/style.scss */
  .content .profile-status, .content .stream-container {
    width: 90%;
    margin: 40px auto 0;
  }
  /* line 613, ../sass/style.scss */
  .content ul li a span {
    font-size: 14px;
  }
}
@media screen and (max-width: 980px) {
  /* line 620, ../sass/style.scss */
  .content {
    right: 0;
  }
  /* line 622, ../sass/style.scss */
  .content .profile-status, .content .stream-container {
    margin: 40px 0 0 auto;
  }
  /* line 626, ../sass/style.scss */
  .content ul li a span {
    font-size: 12px;
  }
}
@media screen and (max-width: 980px) and (max-width: 750px) {
  /* line 633, ../sass/style.scss */
  .top-bar .global-actions li {
    display: none;
  }
  /* line 635, ../sass/style.scss */
  .top-bar .global-actions li:first-child {
    display: inline-block;
  }
  /* line 641, ../sass/style.scss */
  .top-bar .pull-right .search .form-search {
    display: none;
  }

  /* line 647, ../sass/style.scss */
  .left-aside {
    display: none;
  }

  /* line 651, ../sass/style.scss */
  .content {
    left: 0;
    right: 0;
  }
  /* line 655, ../sass/style.scss */
  .content .profile-status {
    background-color: white;
    width: 100%;
    height: 100%;
  }
  /* line 660, ../sass/style.scss */
  .content .profile-status ul li {
    display: block;
  }
  /* line 662, ../sass/style.scss */
  .content .profile-status ul li a span {
    font-weight: normal;
  }
  /* line 668, ../sass/style.scss */
  .content .stream-container {
    background-color: white;
    width: 100%;
  }

  /* line 674, ../sass/style.scss */
  .dashboard-right {
    display: none;
  }
}
